@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: var(--font-inter);
}

body {
	@apply bg-greyLightest;
	font-family: var(--font-inter);
	margin: 0;

	* {
		box-sizing: border-box;
	}
}

.button {
	@apply h-50 font-primary bg-primary duration-300 hover:bg-primaryLight px-14 rounded-md text-white font-bold flex justify-center items-center min-w-[170px];
}

input {
	@apply text-[14px] outline-black/0 outline-[1px] duration-200 w-full p-10 bg-white rounded-md shadow-component border-[1px] border-black/10;
	@apply focus:outline-black/20 focus:outline-[1px] focus:pl-[14px];
}

h1,
h2 {
	text-transform: uppercase;
	margin: 0;
	font-family: var(--font-karla);
	transition: 0.5s;
	color: #767676;
	font-weight: 200;
}

h1 b,
h2 b {
	letter-spacing: -0.04em;
	font-weight: 700;
	color: #43a5c3;
}

h1 {
	line-height: 56px;
	font-size: 56px;
}

h2 {
	line-height: 46px;
	font-size: 46px;
}

p {
	line-height: 24px;
	font-size: 20px;
	margin-top: 20px;
	font-family: var(--font-inter);
	margin: 0;
	font-weight: 300;
	transition: 0.5s;
	color: #909090;
}

.panel {
	@apply p-20 overflow-hidden bg-white rounded-lg shadow-panel;
}

.panelShadow {
	@apply shadow-panelLarge;
}

@media (min-width: 1920px) {
	h2 {
		line-height: 56px;
		font-size: 56px;
	}

	p {
		line-height: 34px;
		font-size: 30px;
	}
}

@media (min-width: 2500px) {
	h1 {
		line-height: 80px;
		font-size: 76px;
	}

	h2 {
		line-height: 66px;
		font-size: 66px;
	}

	p {
		line-height: 40px;
		font-size: 36px;
	}
}
